################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Auth.IdentityServer/.vs/Auth.IdentityServer/v15
/Auth.IdentityServer/Auth.IdentityServer/obj
/Auth.IdentityServer/Auth.IdentityServer/wwwroot/lib
/Auth.IdentityServer/.vs/config
/Auth.IdentityServer/Auth.IdentityServer/bin/Debug/netcoreapp2.2
/Auth.IdentityServer/Auth.IdentityServer/tempkey.rsa
/Auth.IdentityServer/Auth.IdentityServer/Auth.IdentityServer.csproj.user
/Auth.Website1/bin/Debug/netcoreapp2.2
/Auth.Website1/obj
/.vs
/Auth.IdentityServer/bin/Debug/netcoreapp2.2
/Auth.IdentityServer/obj
