################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Auth.IdentityServer/.vs/Auth.IdentityServer/v15
/Auth.IdentityServer/Auth.IdentityServer/obj
/Auth.IdentityServer/Auth.IdentityServer/wwwroot/lib
/Auth.IdentityServer/.vs/config
/Auth.IdentityServer/Auth.IdentityServer/bin/Debug/netcoreapp2.2
/Auth.IdentityServer/Auth.IdentityServer/tempkey.rsa
/Auth.IdentityServer/Auth.IdentityServer/Auth.IdentityServer.csproj.user
/.vs
/Auth.IdentityServer/bin/Debug/netcoreapp2.2
/Auth.IdentityServer/obj
/Auth.Website1/bin
/Auth.Website1/obj
/Auth.Website2/bin
/Auth.Website2/obj
/Auth.Website3/bin
/Auth.Website3/obj
/Auth.Api/bin/Debug/netcoreapp2.2
/Auth.Api/obj
