@model LoggedOutViewModel
@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}
<div class="row page-header">
    <div class="col-sm-10">
        <h1>
            <img class="icon" src="~/icon.jpg">
        </h1>
        <div>You are not logged out. <a href="~/">Continue...</a></div>
</div>
    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the
            <span>@Model.ClientName</span> application.
        </div>
    }
    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
    {
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
